@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500");

html {
  background-color: #1D1E1F;
}

body {
  max-width: 500px;
  color: white;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto;
}

.bingo-card {
  border-collapse: collapse;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.bingo-card > tbody > tr > td {
  border: 1px solid darkgray;
  text-align: center;
  width: 100px;
  vertical-align: middle;
}

.card-selector {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-selector > p {
  padding: 6px 8px;
  margin: 0;
  font-size: 19px;
}

h1 {
  text-align: center;
}

td {
  cursor: pointer;
}

.square {
  aspect-ratio: 1/1;
}

.selected {
  border: 1px solid lightgray;
  border-radius: 15px;
}

hr {
  max-width: 95%;
  border-top: 1px solid white;
  margin-bottom: 16px;
}